.avidplay-heading{
    text-align: center;
    padding-top: 20px;
}

.avidplay-heading h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.avidplay-heading p{
    margin-top: 10px;
}

.user-persona{
    margin-top: 150px;
}

.user-persona h5{
    margin-top: 50px;
}

.user-persona p{
    margin-top: 25px
}

.project-context{
    margin-top: 150px;
}

.page-objective{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 200px;
}

.methodology{
    margin-top: 150px;
}

.frame-2{
    margin-top: 100px;
}

.frame-3{
    margin-top: 100px;
}

.methodology h2{
    margin-bottom: 100px;
    text-align: center;
}

.page-objective h2{
    margin-bottom: 40px;
}

.page-objective h4{
    font-weight: 300;
}