.avidplay-heading{
    text-align: center;
    padding-top: 20px;
}

.avidplay-heading h1{
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
}

.avidplay-heading p{
    margin-top: 10px;
}

.user-persona{
    margin-top: 200px;
}

.user-persona h5{
    margin-top: 50px;
}

.user-persona p{
    margin-top: 25px
}

.pain-point{
    color: black;
    font-weight: bold;
}

.project-context{
    margin-top: 150px;
}

.page-objective{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 200px;
}

.methodology{
    margin-top: 150px;
}

.frame-2{
    margin-top: 100px;
}

.frame-3{
    margin-top: 100px;
}

.methodology h2{
    margin-bottom: 100px;
    text-align: center;
    color: black;

}

.page-objective h2{
    margin-bottom: 40px;
    color: black;

}

.page-objective h4{
    font-weight: 300;
}

.live-page{
    text-align: center;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.live-page a{
    text-decoration: none;
    color: black;
}

.live-page a:hover{
    color: black;
    transition: ease-in;
    font-weight: bold;
    text-decoration: none;
}

.back-home{
       text-align: center;
}

.back-home a{
    text-decoration: none;
    color: #fdb827;
}

.back-home a:hover{
    color: #fdb827;
    text-decoration: none;
}

#frame-1 p{
    margin-top: 20px;
}

#frame-2 p{
    margin-top: 20px;
}

#frame-3 p{
    margin-top: 20px;
}