.body{
    margin-top: 300px;
}

.split-feature-2{
    margin-top: 125px;
}

.split-feature-1 img{
    box-shadow: 2px 2px 10px 6px rgb(189, 189, 189, .30);
    border-radius: 5px;
}

.split-feature-3{
    margin-top: 125px;

}

.project-description{
    padding-top: 10px;
}

.project-description h4{
    padding-top: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 35px;
}

.portfolio-title{
    padding-bottom: 175px;
}

.section-title{
    font-weight: 600;
    letter-spacing: .2rem;
}

.case-study-link{
    color: black;
    font-weight: 600;
    font-size: 20px;

}

.case-study-link:hover{
    color: #fdb827;
    text-decoration: none;
    
}

.body h4{
    color: black
}

img{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}