.body{
    margin-top: 400px;
    margin-bottom: 200px;
}

.split-feature-2{
    margin-top: 100px;
}

.split-feature-3{
    margin-top: 100px;
}

.project-description{
    padding-top: 10px;
}

.portfolio-title{
    padding-bottom: 175px;
    text-align: center;
}

img{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}