.body{
    margin-top: 400px;
    margin-bottom: 200px;
}

.split-feature{
    display: block;
}

.project-description{
    padding-top: 10px;
}

.portfolio-title{
    padding-bottom: 175px;
    text-align: center;
}