.heading{
    text-align: left;
    display: block;

}

h1{
font-family: 'Poppins', sans-serif;
margin-bottom: 15px;
color: #B5838D;
}

title{
    margin: 5px 0px 15px 0px;
}

.links{
    display:inline-block;
    align-items: right;
}

#portfolio-link{
    margin-right: 20px;
    text-decoration: none;
}

#resume-link{
    margin-right: 20px;
    text-decoration: none;
}

#contact-link{
    margin-right: 0px;
    text-decoration: none;
}