.heading{
    text-align: left;
    display: block;
}

.name-title{
    margin-top: 200px;
    margin-bottom: 0px;
}

.title{
    margin: 20px 0px 20px 0px;
}

h1{
font-family: 'Poppins', sans-serif;
color: #B5838D;
font-weight: bolder;
}